.EducationBAr-container {
  overflow: hidden;
  padding-top: 5%;
  > h1 {
    font-size: 2.5em;
  }
  > .con {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    > .row {
      > .col {
        > .contens {
          > .box {
            border: 2px solid #fff;
            margin-top: 5%;
            position: relative;
            padding: 2%;
            padding-top: 1%;
            width: auto;
            border: 1px solid #eaeaea;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.4s;
            color: rgb(220, 218, 213);
            margin-bottom: 10%;
            box-shadow: 0px px 12px 0px #ccc;
            > h4 {
              margin-top: 3%;
              font-size: 1rem;
            }
            > a {
              > .webbtn {
                background-color: transparent;
                box-shadow: 0px 0px 3px 0px #ccc;
                border: none;
                color: white;
              }
            }
            > img {
              height: 10vh;
            }
          }
        }
      }
    }
  }
}
