.Contact-page {
  // width: 100%;
  // height: auto;
  // min-height: auto;
  // padding-top: 2%;
  // margin-left: 5%;
  //   box-shadow: 0px 0px 100px 0px rgb(1, 135, 145);
  margin-top: 5%;

  > form {
    > .contact-container {
      display: flex;

      justify-content: center;
      align-items: center;
      > div {
        > img {
          height: 65vh;
        }
      }
      > .contact-form {
        padding: 4%;
        // width: 100%;
        > input {
          padding: 2%;
          width: auto;
          height: auto;
          min-width: 573px;
          min-height: 48px;

          background-color: rgb(24, 20, 28);
          border: 2px solid white;
          border-radius: 5px;
        }
        > .textareas {
          > textarea {
            border: none;
            padding: 2%;
            width: auto;
            height: auto;
            min-width: 573px;
            min-height: 175px;
            color: white;
            border-radius: 5px;
            background-color: rgb(24, 20, 28);
          }
        }
        > div {
          > button {
            background-color: transparent;
            border: 1px solid wheat;
            padding: 1%;
            width: auto !important;
            min-width: 573px;
            letter-spacing: 5px;
            font-size: large;
            color: white;
            font-weight: 800;
            box-shadow: 0px 0px 2px 0px aquamarine;
          }

          > button:hover {
            background-color: rgb(239, 229, 211);
            font-weight: bold;
            color: black !important;
          }
        }
      }
    }
  }
}

@media (max-width: 755px) {
  .Contact-page {
    // height: auto;
    // min-height: auto;
    // padding-top: 2%;

    //   box-shadow: 0px 0px 100px 0px rgb(1, 135, 145);
    // margin-top: 5%;

    > form {
      display: flex;
      justify-content: center;
      > .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > div {
          > img {
            height: 32vh;
          }
        }
        > .contact-form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          padding: 0%;
          // width: 100%;
          > p {
            // text-align: center;
            padding-right: 10%;
            padding-right: 10%;
            padding: 3%;
          }
          > input {
            padding: 2%;
            width: auto;
            height: auto;
            min-width: 368px;
            min-height: 48px;
            margin-left: 0%;

            background-color: rgb(24, 20, 28);
            border: none;
            border-radius: 5px;
          }
          > .textareas {
            > textarea {
              border: none;
              padding: 2%;
              width: auto;
              height: auto;
              min-width: 368px;

              border-radius: 5px;
              background-color: rgb(24, 20, 28);
            }
          }
          > div {
            > button {
              padding-top: 2%;
              background-color: transparent;
              border: 1px solid wheat;
              padding: 2%;
              width: auto !important;
              min-width: 368px;
              letter-spacing: 5px;
              font-size: large;
              box-shadow: 0px 0px 3px 0px aquamarine;
            }

            > button:hover {
              background-color: rgb(239, 229, 211);
              font-weight: bold;
              color: black !important;
            }
          }
        }
      }
    }
  }
}
